<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul type="disc">
        <li>System in Kw : <strong>{{ system_load }}</strong></li>
        <li>System Cost in Rs : <strong>{{ system_cost }}</strong></li>
        <li>Units generated in First year : <strong>{{ units_generated }}</strong></li>
        <li>Units generated in 25 years : <strong>{{ units_in_25 }}</strong></li>
        <li>Yearly Cost : <strong>{{ yearly_cost }}</strong></li>
        <li>25 Years Savings : <strong>{{ saving_25 }}</strong></li>
        <li>Payback Time : <strong>{{ payback }}</strong></li>
        <li>1st Year Savings : <strong>{{ saving_1 }}</strong></li>
        <li>RoofTop Area required : <strong>{{ rooftop }}</strong></li>
        <li>Percentage of roof covered : <strong>{{ percentage_roof }}</strong></li>
        <li>Number of Panels : <strong>{{ panels }}</strong></li>
    </ul>
</body>
</html>